* {
  margin: 0;
  padding: 0;
}

:root {
  /* ## Colors */

  /*### Primary */

  --dark_cyan: hsl(185, 75%, 39%);
  --very_dark_desaturated_blue: hsl(229, 23%, 23%);
  --dark_grayish_blue: hsl(227, 10%, 46%);

  /* ### Neutral */

  --dark_gray: hsl(0, 0%, 59%);
}

@font-face {
  font-family: "Kumbh sans";
  src: url(../fonts/KumbhSans-Regular.ttf);
}

body {
  font-family: "kumbh sans";
  display: grid;
  display: -moz-grid;
  display: -webkit-grid;
  display: -ms-grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--dark_cyan);
  background-size: cover;
}

.card {
  width: 400px;
  height: fit-content;
  border: 10px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 1px var(--very_dark_desaturated_blue);
}
.bg {
  width: 100%;
}
.bg img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.profile-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  top: -40px;
  width: 70px;
  position: relative;
  border-radius: 50%;
  border: 4px solid white;
  outline: none;
}


hr {
  background-color: lightgray;
  border: none;
  width: 100%;
  height: 0.4px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.age {
  color: var(--dark_grayish_blue);
  font-size: smaller;
  font-weight: 200;
}

.info h3 {
  color: var(--dark_gray);
}

.account_details {
  display: grid;
  margin: 20px;
}

.stats {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

td {
  padding: 5px;
}

.stats-details {
  color: var(--dark_gray);
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: small;
  text-align: center;
}

/* Mobile Screen design */

@media (max-width:768px) {
 .card {
  width: 300px;
 }

 .info {
  font-size: small;
 }
}